
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Bloque</title>
        <link rel="stylesheet" href="/css/inicio.css">
        <link rel="stylesheet" href="/css/genericos/formularios.css">
        <script src="/js/genericos/alertas.js" defer></script>
        <script src="/js/index/crearPlan.js" type="module" defer></script>
    </head>
    <body>
        <div class="main-content" id="main">
        <form id="envioPlan">
        <div class="form-group">
            <label>ID CICLISTA</label>
            <input type="number" name="id_ciclista" placeholder="Ej: 1" required>
        </div>

        <div class="form-group">
            <label>NOMBRE DEL PLAN</label>
            <input type="text" name="nombre" placeholder="Ej: Plan Base 2026" required>
        </div>

        <div class="form-group">
            <label>DESCRIPCIÓN</label>
            <textarea name="descripcion" placeholder="Ej: Base aeróbica" rows="2"></textarea>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>FECHA INICIO</label>
                <input type="date" name="fecha_inicio" required>
            </div>
            <div class="form-group">
                <label>FECHA FIN</label>
                <input type="date" name="fecha_fin" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>OBJETIVO</label>
                <input type="text" name="objetivo" placeholder="Ej: Resistencia">
            </div>
            <div class="form-group">
                <label>ACTIVO</label>
                <select name="activo">
                    <option value="1">Sí (1)</option>
                    <option value="0">No (0)</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn-submit">Guardar Plan en Sesión</button>
    </form>
    </div>
        
    </body>
    </html>