<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Entrenamientos</title>
    <link rel="stylesheet" href="/css/inicio.css">
    <script src="/js/index/plan.js" defer></script>
</head>

<body>

    <nav class="navbar">
        <a href="#" class="logo">CicloApp</a>

        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Entrenamientos ▾</a>
                <div class="dropdown-content">
                    <a>Ver Bloques</a>
                    <a>Ver Sesiones</a>
                    <a id="verPlan">Ver Planes</a>
                    <a>Crear Nuevo...</a>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Mi Rendimiento ▾</a>
                <div class="dropdown-content">
                    <a href="#">Resultados de Sesión</a>
                    <a href="#">Histórico</a>
                    <a href="#">Estadísticas</a>
                </div>
            </li>

            <li><a href="#" class="logout">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <div class="main-content">

    </div>

</body>

</html>