<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Entrenamientos</title>

    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/genericos/formularios.css">
    <script src="/js/genericos/alertas.js" defer></script>
    <script src="/js/index/plan.js" type="module" defer></script>
    <script src="/js/index/bloque.js" type="module" defer></script>
    <script src="/js/index/sesion.js" type="module" defer></script>
    <script src="/js/index/credenciales.js" type="module" defer></script>
    <script src="/js/index/logout.js" type="module" defer></script>
    <script src="/js/index/historico_ciclista.js" type="module" defer></script>
    <script src="/js/index/crearDatos.js" type="module" defer></script>
    <script src="/js/index/ciclista.js" type="module" defer></script>
    <script src="/js/index/sesionBloque.js" type="module" defer></script>
    <script src="/js/index/resultados.js" type="module" defer></script>
    


</head> 

<body>
    <nav class="navbar">
        <a href="#" class="logo">CicloApp</a>

        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Ciclistas ▾</a>
                <div class="dropdown-content">
                    <a id="verCiclistas">Ver Ciclistas</a>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Entrenamientos ▾</a>
                <div class="dropdown-content">
                    <a id="verBloque">Ver Bloques</a>
                    <a id="verSesion">Ver Sesiones</a>
                    <a id="verPlan">Ver Planes</a>
                    <a id="verSesionBloque">Ver Sesiones Bloque </a>
                    <a id="crear">Crear</a>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Mi Rendimiento ▾</a>
                <div class="dropdown-content">
                    <a id="resultadoSesion">Resultados de Sesión</a>
                    <a id="crearResultadoSesion">Crear Resultado Sesion</a>
                    <a id="historico_ciclista">Histórico</a>
                    <a href="#">Estadísticas</a>
                </div>
            </li>

            <li><a href="#" class="logout" id="cerrarSesion">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div id="contenedor-usuario">
        <h2 id="usuario"></h2>
    </div>
    <div class="main-content" id="main">
        
    </div>

</body>

</html>