<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Entrenamientos</title>

    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/genericos/formularios.css">
    <script src="/js/genericos/alertas.js" defer></script>
    <script src="/js/index/plan.js" type="module" defer></script>
    <script src="/js/index/bloque.js" type="module" defer></script>
    <script src="/js/index/sesion.js" type="module" defer></script>
    <script src="/js/index/credenciales.js" type="module" defer></script>
    <script src="/js/index/logout.js" type="module" defer></script>
    <script src="/js/index/historico_ciclista.js" type="module" defer></script>
    <script src="/js/index/crearDatos.js" defer></script>
</head> 

<body>
    <nav class="navbar">
        <a href="#" class="logo">CicloApp</a>

        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Entrenamientos ▾</a>
                <div class="dropdown-content">
                    <a id="verBloque">Ver Bloques</a>
                    <a id="verSesion">Ver Sesiones</a>
                    <a id="verPlan">Ver Planes</a>
                    <a id="crear">Crear Nuevo...</a>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropbtn">Mi Rendimiento ▾</a>
                <div class="dropdown-content">
                    <a href="#">Resultados de Sesión</a>
                    <a id="historico_ciclista">Histórico</a>
                    <a href="#">Estadísticas</a>
                </div>
            </li>

            <li><a href="#" class="logout" id="cerrarSesion">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <div id="contenedor-usuario">
        <h2 id="usuario"></h2>
    </div>
    <div class="main-content" id="main">
        <form>
            <label for="nombre">Añade nombre del bloque de entrenamiento</label>
            <input type="text" name="nombre" placeholder="Sentadillas...">
            <label for="descripcion">Añade una sesion para el bloque: </label>
            <input type="text" name="descripcion" placeholder="Profundas...">
            <label for="tipo">Añade el tipo de bloque: </label>
            <input type="text" name="tipo" placeholder="Bulgaras...">
            <label for="duracion">Añade la duracion estimada: </label>
            <input type="time" name="duracion" step="1" value="00:30:00">
            <label for="potencia_min">Añade la potencia min: </label>
            <input type="number" name="potencia_min" placeholder="50">
            <label for="potencia_max">Añade la potencia max: </label>
            <input type="number" name="potencia_max" placeholder="80">
            <label for="pulso_max">Añade el pulso maximo que se debera tener: </label>
            <input type="number" name="pulso_max" placeholder="75">
            <label for="pulso_min">Añade el pulso minimo que se debera tener: </label>
            <input type="number" name="pulso_min" placeholder="60">
            <label for="comentario">Añade un comentario si lo ves necesario</label>
            <textarea name="comentario" rows="5" cols="4" id="comentario" placeholder="Deben de quemar..."></textarea>
        </form>
    </div>

</body>

</html>